<?xml version="1.0"?>
<launch>
  <!-- roslaunch arguments -->
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="x" default="28.61"/>
    <arg name="y" default="-9.57"/>
    <arg name="z" default="5.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="-1.57"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multi_lidar_vehicle_tracker)/worlds/lidar_station.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

    <!-- Load the robot description -->
    <param name="robot_description" command="cat $(find multi_lidar_vehicle_tracker)/urdf/lidar_station.urdf"/>

    
    <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find multi_lidar_vehicle_tracker)/src/hatchback/model.sdf -sdf -model hatchback -x 28.44 -y -29.79 -z 0.1 -R 0 -P 0 -Y 0" output="screen"/>
    <node name="move_box" pkg="multi_lidar_vehicle_tracker" type="suv.py" output="screen"/>
    
    <node name="spawn_box2" pkg="gazebo_ros" type="spawn_model" args="-file $(find multi_lidar_vehicle_tracker)/src/ambulance/model.sdf -sdf -model ambulance -x 28.4 -y -26.79 -z 0.1 -R 0 -P 0 -Y -1.57" output="screen"/>
    <node name="move_box2" pkg="multi_lidar_vehicle_tracker" type="ambulance.py" output="screen"/>
    
<node name="spawn_box3" pkg="gazebo_ros" type="spawn_model" args="-file $(find multi_lidar_vehicle_tracker)/src/suv/model.sdf -sdf -model suv -x 28.4 -y -0.79 -z 0.1 -R 0 -P 0 -Y 0.0" output="screen"/> 
    <node name="move_box3" pkg="multi_lidar_vehicle_tracker" type="suv2.py" output="screen"/>
    

    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
        <param name="default_topic" value="engel_cmd_vel"/>                         <!-- default velocity control topic name -->
        <param name="default_vx_max" value="1.0"/>                        <!-- linear velocity max value    m/s -->
        <param name="default_vx_min" value="-1.0"/>                       <!-- linear velocity min value    m/s-->
        <param name="default_vw_max" value="0.69"/>                    <!-- angular velocity max value  rad/s (adaptor for urdf joint limit) -->
        <param name="default_vw_min" value="-0.69"/>                   <!-- angular velocity min value  rad/s (adaptor for urdf joint limit) -->
    </node> 


    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model multi_lidar_vehicle_tracker -gazebo_namespace /gazebo 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
          respawn="false" output="screen" />

<node pkg="multi_lidar_vehicle_tracker" type="multi_laser_filter" name="multi_laser_filter" output="screen">
</node>

<node pkg="multi_lidar_vehicle_tracker" type="laser_vehicle_cluster_tracker" name="laser_vehicle_cluster_tracker" output="screen">
</node>


</launch>
